$white: #FFFFFF;
$red: #FB0202;
$content-background: #f4f5fb;
$font-color: #212529;
$border-color: #ced4da;
$text-color: #495057;
$avatar-text-color: #999999;
$button-bgcolor: #17a2b8;
$button-border-color: #17a2b8;
$medium: 400;
$bold: 500;
$bolder: 600;
